body{
    margin:0;
    padding:0;
}
.footer{
    padding: 20px;
    position: absolute;
    bottom: 0px;
    background-color: rgb(29, 67, 84);
    color: white;
    width: 100%;
    text-align: center;
}